.logo {
    text-indent: -999999px;
    background: url('logo.png');
    width: 100px;
    height: 100px;
}

.footer{
  border-top: 3px solid black;
  background-color: transparent;
}

.pizza {
    text-indent: -999999px;
    background: url('pizza.jpg');
    width: 640px;
    height: 480px;
}

.table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
#t01 tr:nth-child(even) {
  background-color: #eee;
}
#t01 tr:nth-child(odd) {
 background-color: #fff;
}
#t01 th {
  background-color: black;
  color: white;
}
